/* .card__container {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  pointer-events: none;
}

.card__container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0;

  background-color: red;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.card__content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;

  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
} */
